:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;

  --white: #fff;
  --light: #ddd;
  --mid: #888;
  --dark: #222;
  --bg: #030;

  --round: 8px;
  --main: 300px;
  --size: 52px;
  --edge:  5px;
  --tile: 64px; /* + 2 * var(-edge) = 73 */
  --gap:   1px;

  color: var(--light);
  background-color: var(--dark);

  --seed:
    1 * 4096
  + 2 * 256
  + 3 * 16
  + 4;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: var(--main);
  height: var(--main);
  border: 1px solid var(--white);
  border-radius: var(--round);
  box-sizing: border-box;
  background-color: var(--bg);
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  grid-auto-rows: repeat(4, 1fr);

  font-size: var(--size);
  line-height: var(--size);
  text-align: center;
}

label {
  display: inline-block;
  position: relative;
  width: var(--tile);
  height: var(--tile);
  border: var(--edge) outset var(--mid);
  pointer-events: none;
}
label:has(:checked) {
  border-color: transparent;
  background-color: var(--mid);
}

input {
  position: absolute;
  left: -999vw;
}

label:nth-child(4n + 1) {
  grid-column: 1;
}

label:nth-child(4n + 2) {
  grid-column: 2;
}

label:nth-child(4n + 3) {
  grid-column: 3;
}

label:nth-child(4n + 4) {
  grid-column: 4;
}

label:has(+ label + label + label + label :checked),
label:has(+ label:not(.wrap) :checked),
label:has(:checked) + label:not(.wrap),
label:has(:checked) + label + label + label + label {
  background-color: #050;
  pointer-events: all
}

span {
  width:100%;
  height:100%;
}

label:nth-child(1) span::after{
  counter-set: one calc(
    ( var(--seed)
    - mod(var(--seed), 4096)
    ) / 4096
  );
  content: counter(one);
}

label:nth-child(2) span::after{
  counter-set: two calc(
    ( mod(var(--seed), 4096)
   - mod(mod(var(--seed), 4096), 256)
  ) / 256);
  content: counter(two);
}

label:nth-child(3) span::after{
  counter-set: three calc(
    ( mod(var(--seed), 256)
   - mod(mod(var(--seed), 256), 16)
  ) / 16);
  content: counter(three);
}

label:nth-child(4) span::after{
  counter-set: four mod(var(--seed), 16);
  content: counter(four);
}